.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
**/*.map
**/*.ts
!resources/**
temp_extract/**
data/**
install.bat
install.ps1
install.sh
INSTALL.md
.git/**
.github/**
tsconfig.json
node_modules/**/.bin/**
**/*.vsix
